<html>

<head>
    <title>peta</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var location = {
                lat: -8.184486,
                lng: 113.668076
            };
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: location
            });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdIvtVlKpDmIuVuDJUlkZpa24y8RykeE&&callback=initMap">
        </script>
</body>

</html>